body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
p{
    color: dimgray;
}
.name_hilight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.dream-area{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
